.header_id {
    background-color: aqua;
    padding: 24px;
    margin: 0;
    height: 40px;
}

#heater {
    font-family: sans-serif;
    width: 1520px;
    height: 150px;
    position: relative;
}

#logo {
    float: left;
    position: absolute;
}
#createButton {
    border-radius: 5px;
    background-color: aqua;
}

#tableProduct {
    display: flex;
}
/*table {*/
/*    border: 10px;*/
/*}*/
table tr td {

    text-align: left;
}

table tr td label {
    color: blue;
}

table tr td label input {
    font-family: sans-serif;
    font-size: 16px;
    height: 20px;
}

#admin {
    float: right;
    /*position: relative;*/
    padding: 20px 20px;
    color: black;
}

/*footer*/
#footer {
    width: 100%;
    text-align: left;
    background: aqua;
    font-size: 15px;
    position: relative;
}

#footer p {
    margin: 5px;
    font-family: sans-serif;
    color: black;
    padding: 5px;
}

p {
    margin: 0;
    padding: 0;
}

#listProduct {
    font-family: sans-serif;
    padding: 10px 30px;

}
#listProduct h2 {
    font-size: 20px;
    color: blue;
}

#listProduct img {
    width: auto;
    height: 200px;
}
#listProduct button {
    border-radius: 5px;
    background-color: aqua;
}