<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/introduce.css">
</head>

<body>
<header>
    <div><img src="../image/logo.svg" alt="Lỗi" width="100%" height="150px"></div>
</header>
<div>
    <h3>Vua Hàng Hiệu là gì?</h3>
    <h5>VUA HÀNG HIỆU là sàn thương mại điện tử chuyên cung cấp các sản phẩm thời trang hàng hiệu cao cấp của hơn 1000
        thương hiệu nổi tiếng trên thế giới, bao gồm các sản phẩm về làm đẹp</h5>
</div>
<div>
    <h3>Sứ mệnh</h3>
    <p>Vua Hàng Hiệu với sứ mệnh trở thành sàn thương mại điện tử hàng đầu Việt Nam trong lĩnh vực thời trang hàng hiệu
        và là cầu nối thương mại tin cậy giữa nhà cung cấp, các thành viên và khách hàng đăng ký tài khoản.</p>
</div>
<div>
    <h3>Mục tiêu</h3>
    <p>Vua Hàng Hiệu Việt Nam với phương châm mang tới các sản phẩm thời trang cao cấp đến với mọi đối tượng khách hàng,
        từ những đối tượng ít quan tâm đến thời trang đến các tín đồ đam mê hàng hiệu.

        Chúng tôi tin rằng với sức mạnh của sự chuyển đổi công nghệ và muốn thay đổi thói quen mua sắm bằng cách cung
        cấp nền tảng để kết nối giữa người mua và người bán. Khi mua sắm online thông qua các thiết bị điện tử như máy
        tính, smartphone trở thành một hành vi thông thường.

        Vua Hàng Hiệu với mục tiêu liên tục nâng cao nền tảng của bản chất sàn thương mại điện tử để mang lại những trải
        nghiệm mua sắm liền mạch, thú vị cho tất cả người dùng và trở thành nền tảng thương mại điện tử chuyên về các
        sản phẩm hàng hiệu uy tín cả trong và ngoài nước.
    </p>
</div>
<div>
    <h3>Giá trị của chúng tôi</h3>
    <p>Vua Hàng Hiệu tạo cơ hội kinh doanh bán các nhà sản xuất nội địa mở rộng thị trường, có được một môi trường phát
        triển lành mạnh.

        Cũng trên hệ thống này, Vua Hàng Hiệu mang đến cho người tiêu dùng những sản phẩm, dịch vụ chất lượng cao, thúc
        đẩy sự phát triển của lĩnh vực thương mại điện tử và ngành bán lẻ tại Việt Nam. Đây là một phần quan trọng tạo
        ra động lực mạnh mẽ để phát triển nền kinh tế, từ đó góp phần vào sự thịnh vượng của đất nước.

        Hệ thống mua sắm dễ dàng với chỉ 1 click chuột. Dù bạn là nhà quản lý bận rộn hay người nội trợ tất bật với việc
        chăm sóc gia đình, con cái thì chắc chắn rằng sẽ đều yêu thích trải nghiệm mua bán tại đây của chúng tôi khi mọi
        thao tác đều trở nên dễ dàng, thuận tiện và tiết kiệm thời gian hơn bao giờ hết.
    </p>
</div>
<div>
    <h3>Phương thức hợp tác kinh doanh</h3>
    <p>Với hình thức cùng kinh doanh với Vua Hàng Hiệu, đây là cơ hội tốt để sản phẩm của bạn được chú ý và mua sắm bởi
        hàng trăm ngàn khách hàng trên khắp cả nước thông qua trang web của chúng tôi.

        Bất kể bạn đang kinh doanh mặt hàng nào: từ phụ kiện hay sản phẩm thời trang tự thiết kế..., đừng chần chờ, hãy
        nắm bắt ngay thời điểm vàng và sở hữu cửa hàng trực tuyến cho riêng mình.

        Bạn không cần phải lãng phí quá nhiều tiền cho việc quảng cáo và xây dựng thương hiệu, với số lượng truy cập
        khổng lồ trên trang web, chúng tôi sẽ giúp bạn tìm kiếm thật nhiều khách hàng khi bạn tham gia bán hàng cùng Vua
        Hàng Hiệu.

        Chúng tôi sẽ giúp bạn xây dựng cửa hàng và hỗ trợ tư vấn miễn phí với các chuyên gia chiến lược khi bạn mở shop
        tại Vua Hàng Hiệu. Hợp tác cùng sàn thương mại thời trang Vua Hàng Hiệu, bạn sẽ kiếm được thật nhiều khách hàng
        và tăng lợi nhuận nhanh nhất có thể.
    </p>
</div>
<div>
    <h3>Thông tin về sàn Vua Hàng Hiệu</h3>
    <p>Thông tin thương hiệu:

    <p>Giám đốc điều hành: Trần Ngọc Phương</p>
    <p>Thành lập: 2018</p>
    <p>Số lượng nhân viên: 50+</p>
    <p>Hotline: 093.934.8888</p>
    <p>Email: cskh@vuahanghieu.com</p>
    <p>Thời gian làm việc: Thứ 2 - Thứ 6: 8:00' - 17:00', Thứ 7 8:00' - 11:30'</p>
    <p>Văn phòng đại diện: Tầng 3, Tòa nhà 24T3 Thanh Xuân Complex, Số 6 Lê Văn Thiêm, Thanh Xuân Trung, Thanh Xuân, Hà
        Nội</p>
    <p>Mã số thuế: 0108603370 do Sở Kế hoạch và Đầu tư Hà Nội cấp ngày 28/01/2019</p>
    Profile: Facebook - Twitter - Instagram - Linkedin - Youtube - Pinterest
    </p>
</div>
<footer>
    <div id="footer">
        <p></p>
        <p>Copyright &copy; Công Ty Cổ Phần Thương Mại Vua Hàng Hiệu</p>
        <p>Điện thoại: 093.934.8888 &emsp; Tổng đài:
            1900.232.322</p>
        <p>Email: cskh@vuahanghieu.com</p>
        <p>Time: Thứ 2 - Thứ 6: 8:00' - 17:00', Thứ 7 8:00' - 11:30'</p>
        <p>Địa chỉ: Tầng 3, Tòa nhà 24T3 Thanh Xuân Complex, Số 6 Lê Văn Thiêm, Thanh Xuân Trung, Thanh Xuân, Hà Nội</p>
        <p>Mã số thuế: 0108603370 do Sở Kế hoạch và Đầu tư Hà Nội cấp ngày 28/01/2019</p>
    </div>
</footer>
</body>
</html>