<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/using.css">
</head>
<body>
<header>
    <div><img src="../image/logo.svg" alt="Lỗi" width="100%" height="150px"></div>
</header>
<div>
    <h3>1.NGUYÊN TẮC VÀ QUY ĐỊNH CHUNG</h3>
    <p>1.1. Website www.vuahanghieu.com và ứng dụng di động thương mại điện tử Vua Hàng Hiệu là website và ứng dụng di
        động cung cấp dịch vụ thương mại điện tử và khuyến mại trực tuyến thiết lập bởi CÔNG TY CPTM Vua Hàng Hiệu
        (VUAHANGHIEU E-COMMERCE., JSC), công ty thành lập và hoạt động theo Giấy chứng nhận đăng ký doanh nghiệp do Sở
        KH-ĐT Hà Nội cấp.</p>
    <p>1.2. Vua Hàng Hiệu là sàn giao dịch thương mại điện tử và website/ ứng dụng di động khuyến mại trực tuyến dành
        cho các thương nhân, tổ chức có nhu cầu giới thiệu, bán hàng và/hoặc dịch vụ trên Vua Hàng Hiệu và đã ký hợp
        đồng với Vua Hàng Hiệu để sử dụng dịch vụ thương mại điện tử và/hoặc dịch vụ khác trên Vua Hàng Hiệu (sau đây
        gọi chung là “Thương Nhân”).</p>
    <p>1.3. Khách hàng tham gia giao dịch trên Vua Hàng Hiệu là mọi cá nhân từ đủ 15 tuổi trở lên, có năng lực hành vi
        dân sự phù hợp để thực hiện giao dịch trên website và thông qua ứng dụng Vua Hàng Hiệu; và mọi tổ chức được
        thành lập và hoạt động hợp pháp theo quy định của pháp luật Việt Nam (sau đây gọi là “Khách Hàng”).</p>
    <p>1.4. Sản phẩm giao dịch trên Vua Hàng Hiệu bao gồm hàng hóa/dịch vụ/voucher/giấy chứng nhận dịch vụ (sau đây gọi
        chung là "Sản Phẩm").</p>
    <p>1.5. Mọi hoạt động mua bán Sản Phẩm trên Vua Hàng Hiệu phải được thực hiện công khai, minh bạch, đảm bảo quyền
        lợi của cả Thương Nhân và Khách Hàng. Trong mọi trường hợp, Thương Nhân sẽ hoàn toàn chịu trách nhiệm trước
        Khách Hàng đối với mọi vấn đề liên quan đến Sản Phẩm do Thương Nhân cung cấp trên Vua Hàng Hiệu.</p>
    <p>1.6. Vua Hàng Hiệu sẽ ghi âm và lưu giữ lại nội dung các cuộc gọi của Khách Hàng đến số tổng đài chăm sóc khách
        hàng của Vua Hàng Hiệu; và các cuộc gọi từ bộ phận chăm sóc khách hàng của Vua Hàng Hiệu cho Khách Hàng (sau đây
        được gọi chung là “Bản Ghi Âm”). Bản Ghi Âm sẽ được dùng làm bằng chứng trong trường hợp có tranh chấp phát sinh
        trong quá trình giao dịch tại Vua Hàng Hiệu, tùy theo quyết định của VUAHANGHIEU E-COMMERCE., JSC.</p>
    <p>1.7. Bằng việc tham gia giao dịch trên Vua Hàng Hiệu, Thương Nhân/Khách Hàng được xem là đã tìm hiểu quyền và
        nghĩa vụ của mình và đồng ý bị ràng buộc bởi Quy chế hoạt động website và ứng dụng di động cung cấp dịch vụ
        thương mại điện tử Vua Hàng Hiệu (sau đây gọi là “Quy Chế”) đang có hiệu lực vào thời điểm Thương Nhân/Khách
        Hàng thực hiện giao dịch.</p>
</div>
<div>
    <h3>2. QUY TRÌNH GIAO DỊCH</h3>
    <h5>2.1. Quy trình giao dịch dành cho Khách Hàng. Khách Hàng thực hiện theo các bước sau đây:
    </h5>
    <p>
        - Khách Hàng tìm kiếm các Sản Phẩm theo nhu cầu; xem kỹ các thông tin liên quan và lựa chọn Sản Phẩm phù hợp với
        yêu cầu để cho vào đơn đặt hàng của Khách Hàng (sau đây gọi là "Đơn Đặt Hàng")
    </p>
    <p>
        - Khách Hàng rà soát lại các thông tin của Đơn Đặt Hàng trước khi thanh toán. Khi Khách Hàng nhấn (click) vào ô
        “Thanh Toán” tại Mục Phương thức thanh toán để tiến hành thanh toán Đơn Đặt Hàng của mình có nghĩa là Khách Hàng
        xác nhận đã rà soát thông tin Đơn Đặt Hàng và đồng ý là Điều Khoản Và Điều Kiện Giao Dịch sẽ được áp dụng cho
        giao dịch mua Sản Phẩm của Khách Hàng trên Vua Hàng Hiệu.</p>
    <p>
        - Khách Hàng thực hiện việc xác nhận/hủy Đơn Đặt Hàng theo quy định tại Điều Khoản Và Điều Kiện Giao Dịch trên
        Vua Hàng Hiệu.</p>
    <p>
        - Khách Hàng thực hiện thanh toán theo quy trình được quy định tại Chính Sách Thanh Toán trên Vua Hàng Hiệu.
    </p>
    <p>
        - Sản Phẩm của Khách Hàng sẽ được giao/vận chuyển theo Chính Sách Giao Hàng trên Vua Hàng Hiệu.
    </p>
    <p>
        - Mọi tranh chấp, khiếu nại phát sinh (nếu có) của Khách Hàng sẽ được giải quyết theo quy định tại Điều Khoản Và
        Điều Kiện Giao Dịch trên Vua Hàng Hiệu.</p>
    <h5>2.2. Quy trình giao dịch dành cho Thương Nhân.</h5>
    Quy trình giao dịch của Thương Nhân tuân thủ theo hợp đồng/thỏa thuận giữa Thương Nhân đó và VUAHANGHIEU
    E-COMMERCE., JSC (sau đây gọi là "Hợp Đồng") và các quy chế/quy định áp dụng cho Thương Nhân được đăng tải trên
    Trung tâm bán hàng/Trung tâm dịch vụ theo đó, Thương Nhân thực hiện theo các bước sau đây:
    <p>
        - Thương Nhân ký Hợp Đồng với Vua Hàng Hiệu.</p>
    <p>
        - Thương Nhân cung cấp thông tin/hình ảnh/nội dung của Sản Phẩm để đăng tải trên Vua Hàng Hiệu theo quy định tại
        Hợp
        Đồng và Quy Chế này.</p>
    <p>
        - Vua Hàng Hiệu sẽ thu tiền mua Sản Phẩm của Khách Hàng khi Sản Phẩm được bán cho Khách Hàng và sẽ thanh toán
        cho
        Thương Nhân theo thỏa thuận tại Hợp Đồng.</p>
    <p>
        - Thương Nhân chịu hoàn toàn trách nhiệm về việc giải quyết khiếu nại, tranh chấp của Khách Hàng liên quan đến
        Sản
        Phẩm do Thương Nhân cung cấp trên Vua Hàng Hiệu.</p>
</div>
<div><h3>3. ĐẢM BẢO AN TOÀN GIAO DỊCH</h3>
    <p>Vua Hàng Hiệu đã xây dựng cơ chế đảm bảo an toàn giao dịch cho Khách Hàng theo Chính sách bảo mật thông tin thanh
        toán.</p></div>
<div>
    <h3>4. BẢO VỆ THÔNG TIN CÁ NHÂN KHÁCH HÀNG</h3>
    <p>Thông tin của Khách Hàng cung cấp khi giao dịch trên VUAHANGHIEU sẽ được bảo mật theo Chính sách bảo mật và chia
        sẻ thông tin.</p>
</div>
<div>
    <h3>5. QUẢN LÝ THÔNG TIN XẤU</h3>
    <p>5.1. Khách Hàng và Thương Nhân không được phép sử dụng tiện ích, chức năng và/hoặc các chương trình khuyến mại
        của Vua Hàng Hiệu trên www.vuahanghieu.com vào (i) những mục đích bất hợp pháp, lừa đảo, đe doạ, phát tán virus
        gây hư hại tới hệ thống, cấu hình, truyền tải thông tin của Vua Hàng Hiệu và đối tác của Vua Hàng Hiệu; (ii) mục
        đích đầu cơ, lũng đoạn thị trường tạo những đơn đặt hàng giả, kể cả phục vụ cho việc phán đoán nhu cầu thị
        trường. Khách Hàng/Thương Nhân vi phạm phải chịu trách nhiệm về các hành vi của mình trước pháp luật.
    </p>
    <p>
        5.2. Thương Nhân không được đăng trên Vua Hàng Hiệu bất kỳ thông tin/hình ảnh/quảng cáo nào vi phạm quyền sở hữu
        trí tuệ của bất kỳ bên thứ ba nào hoặc vi phạm pháp luật và/hoặc vi phạm thuần phong mỹ tục của Việt Nam.
    </p>
    <p>
        5.3. Khách Hàng và Thương Nhân không được cung cấp hoặc tác động để được cung cấp những thông tin không đúng sự
        thật, có tính chất phỉ báng hoặc gây mất uy tín của Vua Hàng Hiệu và/hoặc Thương Nhân và/hoặc Khách Hàng khác,
        dưới mọi hình thức.
    </p>
    <p>
        5.4. Vua Hàng Hiệu có quyền kiểm duyệt, rà soát thông tin đăng tải trên Vua Hàng Hiệu bằng các biện pháp cần
        thiết. Mọi hành vi vi phạm sẽ bị xử lý theo Quy Chế này và pháp luật Việt Nam. Ngoài ra, Vua Hàng Hiệu có quyền
        chấm dứt Hợp Đồng nếu Thương Nhân vi phạm.
    </p>
</div>
<div>
    <h3>6. GIỚI HẠN TRÁCH NHIỆM TRONG TRƯỜNG HỢP PHÁT SINH LỖI KỸ THUẬT TRÊN VUA HÀNG HIỆU</h3>
    <p>Hệ thống kỹ thuật của Vua Hàng Hiệu sẽ được duy trì trong tình trạng chạy ổn định, an toàn và tuân thủ các quy
        định pháp luật liên quan đến việc cung ứng các dịch vụ thương mại điện tử và thực hiện các giao dịch trực tuyến.
        Tuy nhiên, Vua Hàng Hiệu không chịu trách nhiệm trước những thiệt hại, tổn thất của Khách Hàng phát sinh trong
        quá trình giao dịch trên VUAHANGHIEU, trừ phi những thiệt hại, tổn thất này là do lỗi cố ý của Vua Hàng
        Hiệu.</p>
</div>
<div>
    <h3>7.QUYỀN VÀ TRÁCH NHIỆM CỦA VUA HÀNG HIỆU</h3>
    <h5>7.1 Quyền của VUA HÀNG HIỆU</h5>
    <p>(i) Yêu cầu Thương Nhân thực hiện các quyền và nghĩa vụ theo đúng nội dung tại Hợp Đồng.</p>
    <p>
        (ii) Yêu cầu thương nhân, tổ chức, cá nhân là người bán Sản Phẩm thuộc danh mục hàng hóa, dịch vụ kinh doanh có
        điều
        kiện trên trên Vua Hàng Hiệu phải cung cấp giấy chứng nhận đủ điều kiện kinh doanh đối với Sản Phẩm đó (trong
        trường
        hợp pháp luật quy định phải có giấy chứng nhận đủ điều kiện kinh doanh).</p>
    <p>
        (iii) Yêu cầu Khách Hàng cung cấp thông tin chính xác, trung thực và cập nhật khi thực hiện giao dịch trên Vua
        Hàng
        Hiệu.</p>
    <p>
        (iv) Có quyền từ chối, tạm ngừng hoặc chấm dứt ngay tư cách thành viên của Khách Hàng và quyền truy cập/ sử dụng
        tài
        khoản giao dịch của Khách Hàng trên Vua Hàng Hiệu (sau đây gọi là “Tài Khoản Vua Hàng Hiệu ”) bất cứ thời điểm
        nào
        nếu Vua Hàng Hiệu nhận định rằng việc tiếp tục cho phép Khách Hàng giao dịch có khả năng sẽ gây thiệt hại cho
        VUAHANGHIEU và/hoặc Thương Nhân khác trên Vua Hàng Hiệu mà không cần có sự đồng ý của Khách Hàng. Tuy nhiên, Vua
        Hàng Hiệu sẽ thông báo trước cho Khách Hàng về việc tạm ngừng hoặc chấm dứt này.</p>
    <p>
        (v) Giữ bản quyền đối với hình thức, nội dung trên Vua Hàng Hiệu theo pháp luật về bản quyền. Để làm rõ thêm,
        quyền
        sở hữu trí tuệ và quyền tài sản đối với Vua Hàng Hiệu bao gồm nhưng không giới hạn giao diện, các thiết kế,
        trình
        bày (layout) các hình ảnh, thông tin của Vua Hàng Hiệu là của Vua Hàng Hiệu. Việc sử dụng giao diện, thiết kế,
        trình
        bày (layout) các hình ảnh, thông tin của VUAHANGHIEU phải được sự đồng ý trước bẳng văn bản của Vua Hàng
        Hiệu.</p>
    <h5>7.2 Trách nhiệm của VUA HÀNG HIỆU</h5>
    <p>(i) Đăng ký Vua Hàng Hiệu với cơ quan nhà nước có thẩm quyền.</p>
    <p>
        (ii) Xây dựng quy chế hoạt động, quy định, hướng dẫn cho Thương Nhân và Khách Hàng khi giao dịch trên Vua Hàng
        Hiệu.
    </p>
    <p>
        (iii) Ban hành cơ chế kiểm tra, giám sát để đảm bảo việc cung cấp thông tin của người bán trên Vua Hàng Hiệu
        được
        thực hiện chính xác, đầy đủ.
    </p>
    <p>
        (iv) Yêu cầu thương nhân, tổ chức, cá nhân là người bán trên Vua Hàng Hiệu cung cấp các thông tin theo quy định
        tại
        Mục 9.2 của Quy Chế này.
        (v) Ngăn chặn và loại bỏ khỏi Vua Hàng Hiệu những thông tin bán hàng hóa, dịch vụ thuộc danh mục hàng hóa, dịch
        vụ
        cấm kinh doanh theo quy định của pháp luật và hàng hóa hạn chế kinh doanh.
    </p>
    <p>
        (vi) Loại bỏ khỏi Vua Hàng Hiệu những thông tin bán hàng giả, hàng nhái, hàng nhập lậu, hàng vi phạm quyền sở
        hữu
        trí tuệ và các hàng hóa, dịch vụ vi phạm pháp luật khác khi phát hiện hoặc nhận được phản ánh có căn cứ xác thực
        về
        những thông tin này.
    </p>
    <p>
        (vii) Lưu giữ thông tin đã đăng ký của Thương Nhân, Khách Hàng và cập nhật những thông tin thay đổi, bổ sung có
        liên
        quan.
    </p>
    <p>
        (viii) Hỗ trợ Khách Hàng giải quyết các tranh chấp phát sinh với Thương Nhân sau khi nhận được thông báo từ
        Khách
        Hàng theo quy định trên Vua Hàng Hiệu.
    </p>
    <p>
        (ix) Trong mọi trường hợp, Vua Hàng Hiệu không chịu trách nhiệm trước những thiệt hại, tổn thất của Khách
        Hàng/Thương Nhân phát sinh trong quá trình giao dịch trên Vua Hàng Hiệu, trừ phi những thiệt hại, tổn thất này
        là do
        lỗi cố ý của Vua Hàng Hiệu.
    </p>
    <p>
        Trong trường hợp Khách Hàng bị thiệt hại do lỗi cố ý của VUAHANGHIEU, trách nhiệm của Vua Hàng Hiệu đối với
        Khách
        Hàng chỉ giới hạn ở giá trị sản phẩm mà Khách Hàng mua trên Vua Hàng Hiệu.</p>
</div>
<div>
    <h3>8. QUYỀN VÀ TRÁCH NHIỆM CỦA KHÁCH HÀNG</h3>
    <h5>8.1. Quyền của Khách Hàng</h5>
    <p>(i) Được đăng ký miễn phí Tài Khoản Vua Hàng Hiệu với tên truy cập và mật khẩu riêng để tiến hành giao dịch trên
        Vua
        Hàng Hiệu.</p>
    <p>
        (ii) Được tự do mua Sản Phẩm trên Vua Hàng Hiệu theo quy định của Quy Chế này.
    </p>
    <p>
        (iii) Có quyền khiếu nại Thương Nhân đối với mọi vấn đề phát sinh liên quan đến giao dịch mua Sản Phẩm của
        Thương
        Nhân trên Vua Hàng Hiệu.
    </p>
    <p>
        (iv) Có quyền yêu cầu cơ quan có thẩm quyền bảo vệ trong trường hợp tranh chấp với Thương Nhân không được giải
        quyết
        thỏa đáng.
    </p>
    <p>
        (v) Các quyền khác theo quy định của Hợp Đồng và pháp luật.
    </p>
    <p>
        *** Ngoài ra, với các đơn hàng không có sẵn, Vua Hàng Hiệu sẽ tiến hành đặt hàng và vận chuyển về tay khách hàng
        -
        dịch vụ 'Mua hàng giúp tôi'. Thông tin chi tiết sẽ được nhân viên tư vấn khi chốt đơn hàng.
    </p>
    <p>
        Một đơn hàng 'Mua hàng giúp tôi' là không thể thay đổi hoặc hủy một khi nó đã được xử lý, sau 60 ngày kể từ thời
        điểm khách hàng thanh toán thành công nếu đơn hàng không được giao, Vua Hàng Hiệu có trách nhiệm hoàn tiền 100%
        số
        tiền khách hàng đã thanh toán cho khách hàng nếu không đạt được thỏa thuận giữa khách hàng và Vua Hàng Hiệu về
        việc
        giao hàng trễ.</p>
    <h5>8.2. Trách nhiệm của Khách Hàng</h5>
    <p>(i) Chịu trách nhiệm về bảo mật và lưu giữ tên đăng ký, mật khẩu của hộp thư điện tử của mình và thông báo kịp
        thời cho Vua Hàng Hiệu về những hành vi sử dụng trái phép, lạm dụng, vi phạm bảo mật đối với tên đăng ký và mật
        khẩu của mình.</p>
    <p>
        (ii) Khi thực hiện giao dịch trên Vua Hàng Hiệu, Khách Hàng sẽ phải cung cấp một số thông tin riêng như được yêu
        cầu tùy thời điểm. Khách Hàng có trách nhiệm đảm bảo là các thông tin mà Khách Hàng cung cấp cho Vua Hàng Hiệu
        là chính xác, cập nhật và đầy đủ.</p>
    <p>
        (iii) Khi mở Tài Khoản Vua Hàng Hiệu, Khách Hàng có trách nhiệm tự bảo vệ tên truy cập và mật khẩu của mình và
        giám sát các thông tin có liên quan đến Tài Khoản Vua Hàng Hiệu. Khách Hàng sẽ chịu trách nhiệm về việc Tài
        Khoản Vua Hàng Hiệu của Khách Hàng bị sử dụng bởi bất cứ ai truy cập vào Tài Khoản Vua Hàng Hiệu của Khách Hàng.
    </p>
    <p>
        (iv) Bồi thường cho những thiệt hại mà Vua Hàng Hiệu và/hoặc Thương Nhân phải chịu do Khách Hàng vi phạm Quy Chế
        này.
    </p>
    <p>
        (v) Thông báo ngay với Vua Hàng Hiệu theo hotline cung cấp tại Điều 10.3 của Quy Chế này khi có khiếu nại về Sản
        Phẩm và/hoặc Thương Nhân trên Vua Hàng Hiệu.
    </p>
    <p>
        (vi) Tuân thủ quy định của Quy Chế này và Điều Khoản Và Điều Kiện Giao Dịch.
    </p>
    <p>
        (vii) Các nghĩa vụ khác theo quy định của Hợp Đồng và pháp luật.</p>
</div>
<div>
    <h3>9. QUYỀN VÀ TRÁCH NHIỆM CỦA THƯƠNG NHÂN</h3>
    <h5>9.1. Quyền của Thương Nhân</h5>
    <p>(i) Được giới thiệu, quảng bá về Thương Nhân và Sản Phẩm của Thương Nhân trên Vua Hàng Hiệu theo quy định của Quy
        Chế này.
    </p>
    <p>
        (ii) Được bán Sản Phẩm trên Vua Hàng Hiệu theo quy định của Quy Chế này và Hợp Đồng.</p>
    <p>
        (iii) Các quyền khác theo quy định tại Hợp Đồng và pháp luật.</p>
    <h5>9.2. Trách nhiệm của Thương Nhân</h5>
    <p>(i) Cung cấp đầy đủ và chính xác các thông tin như:</p>
    <p>
        - Tên và địa chỉ trụ sở của Thương Nhân hoặc tên và địa chỉ thường trú của cá nhân</p>
    <p>
        - Số, ngày cấp và nơi cấp giấy chứng nhận đăng ký kinh doanh của Thương Nhân hoặc mã số thuế cá nhân của cá
        nhân.
    </p>
    <p>- Số điện thoại hoặc một phương thức liên hệ trực tuyến khác cho Thương Nhân.</p>
    <p>
        (ii) Cung cấp đầy đủ thông tin về hàng hóa, dịch vụ khi bán hàng hóa hoặc cung ứng dịch vụ trên Vua Hàng Hiệu.
    </p>
    <p>
        (iii) Cung cấp giấy chứng nhận đủ điều kiện kinh doanh đối với Sản Phẩm thuộc danh mục hàng hóa, dịch vụ kinh
        doanh
        có điều kiện trên bán trên Vua Hàng Hiệu (trong trường hợp pháp luật quy định phải có giấy chứng nhận đủ điều
        kiện
        kinh doanh).</p>
    <p>
        (iv) Đảm bảo tính chính xác, trung thực của thông tin về hàng hóa, dịch vụ cung cấp trên Vua Hàng Hiệu.
    </p>
    <p>
        (v) Cung cấp thông tin về tình hình kinh doanh của mình khi có yêu cầu của cơ quan nhà nước có thẩm quyền để
        phục vụ
        hoạt động thống kê thương mại điện tử.
    </p>
    <p>
        (vi) Tuân thủ quy định của pháp luật về thanh toán, quảng cáo, khuyến mại, bảo vệ quyền sở hữu trí tuệ, bảo vệ
        quyền
        lợi người tiêu dùng và các quy định của pháp luật có liên quan khác khi bán hàng hóa hoặc cung ứng dịch vụ trên
        Vua
        Hàng Hiệu.</p>
    <p>
        (vii) Thực hiện đầy đủ nghĩa vụ thuế theo quy định của pháp luật.
    </p>
    <p>
        (viii) Giải quyết mọi khiếu nại, tranh chấp của Khách Hàng đối với giao dịch mua sản phẩm của Thương Nhân trên
        Vua
        Hàng Hiệu theo quy định tại hợp đồng ký với Vua Hàng Hiệu và quy định của Vua Hàng Hiệu.
    </p>
    <p>
        (ix) Tự chịu trách nhiệm về nội dung, hình ảnh về thông tin doanh nghiệp và các thông tin khác được đăng tải
        trên
        Vua Hàng Hiệu.
    </p>
    <p>
        (x) Đảm bảo tuân thủ quy định của hợp đồng đã ký giữa Thương Nhân và Vua Hàng Hiệu.
    </p>
    <p>
        (xi) Có trách nhiệm đảm bảo Thương Nhân và/hoặc bất kì nhân viên, người lao động, người quản lý của Thương Nhân
        không được lạm dụng các chương trình khuyến mại mà Vua Hàng Hiệu hoặc Thương Nhân đang thực hiện để mua lại hàng
        hóa/phiếu sử dụng dịch vụ (Voucher hoặc GCN) mà Thương Nhân đang cung cấp trong chương trình khuyến mại đó trên
        Vua
        Hàng Hiệu. Trường hợp Vua Hàng Hiệu phát hiện Thương Nhân vi phạm quy định này, Vua Hàng Hiệu có quyền:
    </p>
    <p>
        - Yêu cầu Thương Nhân chấm dứt ngay hành vi vi phạm.
    </p>
    <p>
        - Không xác nhận, từ chối hoặc hủy các Đơn Đặt Hàng phát sinh từ hành vi vi phạm nêu trên.
    </p>
    <p>
        - Khấu trừ mọi chi phí mà Vua Hàng Hiệu đã bỏ ra (nếu có) để triển khai chương trình khuyến mại vào các khoản
        phải
        thanh toán cho Thương Nhân theo các hợp đồng đã ký kết giữa Thương Nhân và Vua Hàng Hiệu.
    </p>
    <p>
        (xii) Bồi thường cho những thiệt hại mà Vua Hàng Hiệu và Khách Hàng phải chịu do Thương Nhân vi phạm quy định
        của
        Vua Hàng Hiệu hoặc hợp đồng ký với Vua Hàng Hiệu.</p>
</div>
<div>
    <h3>10. ĐIỀU KHOẢN ÁP DỤNG VÀ CAM KẾT</h3>
    <p>10.1. Quy Chế này có hiệu lực áp dụng ngay khi được đăng tải trên Vua Hàng Hiệu. Vua Hàng Hiệu có quyền sửa đổi
        Quy Chế này bằng cách thông báo công khai trên Vua Hàng Hiệu. Quy Chế sửa đổi có hiệu lực sau 05 (năm) ngày kể
        từ khi thông báo về việc sửa đổi Quy Chế được đăng tải trên Vua Hàng Hiệu.
    </p>
    <p>
        Trong trường hợp nội dung quy định tại Quy Chế, Hợp Đồng, Điều Khoản và Điều Kiện Giao Dịch có sự khác biệt thì
        áp dụng theo thứ tự ưu tiên như sau: (i) Quy Chế; (ii) Hợp Đồng; và (iii) Điều Khoản và Điều Kiện Giao Dịch.
    </p>
    <p>
        10.2. Vua Hàng Hiệu, Thương Nhân và Khách Hàng cam kết tuân thủ Quy Chế này.
    </p>
    <p>
        10.3. Địa chỉ liên lạc chính thức của Vua Hàng Hiệu là:
    </p>
    <p>
        Địa chỉ: Tầng 4, số 1, ngõ 172 Nguyễn Tuân, Nhân Chính, Thanh Xuân, Hà Nội</p>
</div>
<footer>
    <div id="footer">
        <p></p>
        <p>Copyright &copy; Công Ty Cổ Phần Thương Mại Vua Hàng Hiệu</p>
        <p>Điện thoại: 093.934.8888 &emsp; Tổng đài:
            1900.232.322</p>
        <p>Email: cskh@vuahanghieu.com</p>
        <p>Time: Thứ 2 - Thứ 6: 8:00' - 17:00', Thứ 7 8:00' - 11:30'</p>
        <p>Địa chỉ: Tầng 3, Tòa nhà 24T3 Thanh Xuân Complex, Số 6 Lê Văn Thiêm, Thanh Xuân Trung, Thanh Xuân, Hà Nội</p>
        <p>Mã số thuế: 0108603370 do Sở Kế hoạch và Đầu tư Hà Nội cấp ngày 28/01/2019</p>
    </div>
</footer>
</body>
</html>